body {
    background: #222222 url("images/wall_bg.jpg");
    font-family: 'Montserrat';
}

.container {
    width: 80%;
}

#content {
    width: 80%;
    margin: auto;
}

input {
    border: none;
    border-bottom: 2px solid black;
    background: none;
}

form label {
    margin-top: 10px;
}

form button {
    margin-top: 10px;
    border: 2px solid black; 
    outline: none; 
    border-radius: 5px; 
    padding: 5px 20px;
    background-color: #06BB60;
}

form button:hover {
    background-color: green;
}

#content h4 {
    text-align: center;
}

.navbar {
    border-radius: 0px;
}

.img_container {
    width: 150px;
    height: 150px;
    margin-top: 10px;
}

.game_title {
    list-style-type: none;
    display: inline-block;
    width: 150px;
    text-align: center;
    background: white;
}

.category_header {
    text-align: center;
}

.game_container {
    display: inline-block;
}

.game_list {
    align-content: center;
    width: 98%;
}

.gameView_title {
    text-align: center;
}

.iframe_container {
    position: relative;
    overflow: hidden;
    width: 99vw;
    height: 70vh;
}

.iframe_container iframe {
    border: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

 }

 .highscore_container {
   text-align: center;
   background-color: white;
   width: 70vw;
   margin: 0 auto;
   border-radius: 20px;
   padding: 30px;
 }

 .highscore_header {
   font-size: 24px;
 }

 .game_added_header {
   font-size: 24px;
 }

 .game_added_backbutton {
   color: black;
   text-decoration: none;
   background-color: #06BB60;
   padding: 10px;
   border-radius: 5px;
 }

 .game_added_backbutton:hover {
   color: green;
   text-decoration: none;
 }
