<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gamestore</title>

  {% load staticfiles %}

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'games/stylesheet.css' %}" />


</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbartop">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'games:index' %}">Gamestore</a>
            </div>


            <div class="collapse navbar-collapse" id="navbartop">
                <ul class="nav navbar-nav navbar-left">
                    <li class="">
                        <a href="{% url 'games:index' %}">
                            <span class="" aria-hidden="true"></span>Categories
                        </a>
                    </li>
                    <li class="">
                            <a href="{% url 'games:profile' %}">
                                <span class="" aria-hidden="true"></span>Your profile

                            </a>

                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">

                   {% if request.user.userprofile.userType == "Developer" %}


                        <a href="{% url 'games:game-add' %}">

                            <span class=""></span>Add game

                        </a>
                      {% endif %}
                    </li>
                    <li class="">

                            {% if request.user.is_authenticated %}
                            <a href="{% url 'games:logout' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Log out
                            {% else %}
                            <a href="{% url 'games:login' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Log in
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<div id="content">
{% block body %}
{% endblock %}
</div>
</body>
</html>
